<a href="/playlists"> <i class="fa-solid fa-chevron-left"></i></a>
<div class="flex-container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
    <div class="carousel-inner">
      <% @songs_query.each_with_index do |song, index| %>
        <div class="carousel-item <%= "active" if @songs_query.first == song %>" id="song-<%= song.id %>" ,
                           data-controller="votes" data-votes-songid-value="<%= song.id %>" data-votes-target="song">
          <div class= "back-img" style=" opacity: 0.08; background-image: url('<%= image_path song.image %>');">
          </div>
          <div class="flex-item yellow">
            <h1>TapeMix</h1>
          </div>
          <div class="song-img" style="background-image: url('<%= image_path song.image %>')">
          </div>

          <p> <%= @songs_query.size - index %> songs remaining... </p>
          <h2> <%= song.artist %> </h2>
          <p class="album-song"> <%= song.name %> </p>
          <div class="icons-container">
            <%= link_to playlist_downvote_path(@playlist, song_id: song.id),
                        data: {
                          turbo_method: :post,
                          action: "click->votes#downvote"
                        } do %>
              <i class="fa-regular fa-thumbs-down"></i>
            <% end %>
            <div class="done-button">
              <%= link_to "I'm Bored of Voting", done_path, :class=> "yellow-button-small" %> 
            </div>
            <%= link_to playlist_upvote_path(@playlist, song_id: song.id),
                        data: {
                          turbo_method: :post,
                          action: "click->votes#upvote"
                        } do %>
              <i class="fa-regular fa-thumbs-up"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <button class="carousel-control-prev upvote-btn d-none" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next downvote-btn d-none" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>
