<div>
<h1 class="centered mt-3">Making Your Tape</h1>

<%= render "shared/casset" %>

<div class="col-xs-1 text-center">
  <div class="qr" data-controller="qr">

    <input data-action="click->qr#hide" data-qr-target="button" type="button" value="Show QR" id="button-qr"/>
    <div class="qr-code-image d-none" data-qr-target="image">
      <%= @svg.html_safe %>
    </div>
  </div>
</div>

<h1 class="playlist"><%= @playlist.name %></h1>
<div class="text-center">
  <h2>Share this link to vote</h2>
  <p style="width: 90%; color: #FCCF35; margin:auto; text-decoration: underline;"><%=("#{playlist_url(@playlist)}/welcome")%></p>
</div>
<div class="centered" style="margin-bottom:30px; margin-top:30px;";>
  <%= link_to "Confirm Your Tape", playlist_send_to_spotify_path(@playlist),
            class: "yellow-button", data: {
            turbo_method: :post,
            action: "playlists#send_to_spotify"
  } %>
</div>
<% @songs_votes.each_with_index do |song, i| %>
  <div class="card-product">
    <img src= "<%= song.image %>"/>
      <div class="card-product-infos">
        <h2><%= song.name %></h2>
        <p><%= song.artist %></p>
        <p>Votes :
          <%= @songs_votes[i].votes[0]&.votes - 1 %>
        </p>
      </div>
  </div>
<% end %>
