<h1 class="centered mt-3">Making Playlist</h1>

<%= render "shared/casset" %>

<div class="col-xs-1 text-center">
  <div class="qr" data-controller="qr">
    <input data-action="click->qr#hide" data-qr-target="button" type="button" value="Show QR" id="button-qr"/>
    <div class="qr-code-image d-none" data-qr-target="image">
      <img  id="qr" src<%= @svg.html_safe %> />
    </div>
  </div>
</div>

<h1 class="playlist"><%= @playlist.name %></h1>


<h2 class="centered">Share this link to vote <strong><%= "http://lwtapemix.herokuapp.com/playlists/#{@playlist.id}" %></strong></h2>
<div class="centered" style="margin-bottom:30px; margin-top:30px;";>
<%= link_to "confirm the playlist", playlist_send_to_spotify_path(@playlist),
            class: "yellow-button", data: {
            turbo_method: :post,
            action: "playlists#send_to_spotify"
} %>
</div>

<% @songs_votes.each_with_index do |song, i| %>
  <div class="card-product">
    <img src= "<%= song.image %>"/>
      <div class="card-product-infos">
        <h2><%= song.name %></h2>
        <p><%= song.artist %></p>
        <p>Votes :
          <%= @songs_votes[i].votes[0]&.votes - 1 %>
        </p>
      </div>
  </div>
<% end %>
